# Ignore the specific folder causing the size error
adminFolder/

# Ignore any .exe files specifically
*.exe

# Ignore local database files (usually best to keep these local)
*.db

# Python specific ignores
__pycache__/
*.py[cod]
*$py.class
vwen/
env/
.env

# OS specific
.DS_Store
Thumbs.db